<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"  type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css">
    <title>Segunda entrega individual</title>
    <style>
        /* Show it is fixed to the top */
        body {
            padding-top: 4.5rem;
        }  
        .mb-0 > a {
            display: block;
            position: relative;
        }
        .mb-0 > a:after {
            content: "\f078"; /* fa-chevron-down */
            font-family: 'FontAwesome';
            position: absolute;
            right: 0;
        }
        .mb-0 > a[aria-expanded="true"]:after {
            content: "\f077"; /* fa-chevron-up */
        }              
    </style>
</head>
<body> 

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">EduCali.edu.co</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
          </li>
          {{#if user}}
            {{#ifCond user.userType 'Coordinador'}}
          <li class="nav-item">
            <a class="nav-link" href="/createCourse">Crear curso</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/viewEnrolled">Ver inscritos</a>
          </li>
            {{/ifCond}} 
          {{/if}}
          {{#if user}}         
          <li class="nav-item">
            <a class="nav-link" href="/listCourses">Ver cursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/myCourses/{{user.identificationNumber}}">Mis cursos</a>
          </li>          
          {{/if}}
        </ul>

        <ul class="navbar-nav text-right">
          {{#if user}}
            <li class="nav-item text-right">
                <span class="nav-link">{{user.name}}</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout/{{user.identificationNumber}}">Cerrar sesión</a>
            </li>            
          {{else}}  
            <li class="nav-item text-right">
                <a class="nav-link" href="/login">Iniciar sesión</a>              
            </li>
            <li class="nav-item text-right">
                <a class="nav-link" href="/signup">Registro</a>              
            </li> 
          {{/if}}         
        </ul>
      </div>
    </nav>   

    <main role="main" class="container">
      <div class="jumbotron">     
