<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"  type="text/css">
    <title>Segunda entrega individual</title> 
    <style>
        /* Show it is fixed to the top */
        body {
            padding-top: 4.5rem;
        }        
    </style>
</head>
<body> 

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">EduCali.edu.co</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/createCourse">Crear curso</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/listCourses">Ver cursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/enroll">Inscribir</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/viewEnrolled">Ver inscritos</a>
          </li>
        </ul>
      </div>
    </nav>   

    <main role="main" class="container">
      <div class="jumbotron">     
