{{>header}}

    <h1>Error 404: Página no encontrada</h1>
    <p class="lead">De clic al botón para ir a la página de inicio.</p>
    <a class="btn btn-lg btn-primary" href="/" role="button">Inicio »</a>

{{>footer}}