{{>header}}

    <h1>Sistema de gestión de cursos EduCali.gov.co</h1>
    <p class="lead">Aquí podrá llevar a cabo la gestión de cursos y la inscripción de estudiantes en ellos.</p>
    <a class="btn btn-lg btn-primary" href="/createCourse" role="button">Crear curso »</a>

{{>footer}}    