{{>header}}

    <h1 class="text-center">Virtual EduCali</h1>
    <p class="lead text-center">Ingreso a la plataforma.</p>

    {{#ifCond user null}}
    <p class="text-center">
        <a class="btn btn-lg btn-primary" href="/login" role="button">Iniciar sesión »</a>
        <a class="btn btn-lg btn-primary" href="/signup" role="button">Registro »</a>
    </p>
    {{/ifCond}}

{{>footer}}    